<launch>

    <arg name="project" default="liovil_sam"/>

    <node pkg="$(arg project)" type="$(arg project)_lidarVioFeatureExtract" name="$(arg project)_lidarVioFeatureExtract" output="screen"/>

    <node pkg="$(arg project)" type="$(arg project)_lidarOdometry" name="$(arg project)_lidarOdometry" output="screen"/>

    <node pkg="$(arg project)" type="$(arg project)_odometrySelect" name="$(arg project)_odometrySelect" output="screen"/>

    <node pkg="$(arg project)" type="$(arg project)_lidarMapping" name="$(arg project)_lidarMapping" output="screen"/>
    
</launch>

